<div class="container_passwordreset">

  	<div class="center_passwordreset"
  		data-ng-if="!ctrl.isTokenExpiredForPasswordReset" >

			<div class="panel-heading" style="background-color: #4682B4">
				<span class="lead">Change Password</span>
			</div>
			
			<div class="container-fluid">
				<form name="myForm" data-ng-submit="ctrl.tokenBasedNewPasswordSubmitFunc()" >
	
					<div class="row" style='margin-top: 10px; color: SteelBlue'>
						<div class="form-group col-md-12">
							<div class="col-md-12">Please enter a new password!</div>
						</div>
					</div>
									
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-4 control-lable" for="password">Password</label>
							<div class="col-md-7">
								<input type="password" data-ng-model="ctrl.password" data-ng-keyup="ctrl.comparePassword()"
									name="password" class="form-control input-sm"
									placeholder="Enter password" data-ng-required='true' data-ng-pattern='ctrl.password_pattern'/>
								<div class="has-error">
									<span data-ng-show="myForm.password.$touched && myForm.password.$error.required">This is a required field</span> 
									<span data-ng-show="myForm.password.$touched && myForm.password.$error.pattern">Password must begin with a letter, 
										and length must be between 4 and 14 digits</span> 								 	
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-4 control-lable" for="confirm_password">Confirm Password</label>
							<div class="col-md-7">
								<input type="password" data-ng-model="ctrl.confirm_password" data-ng-keyup="ctrl.comparePassword()"
									name="confirm_password" class="form-control input-sm"
									placeholder="Re-enter password" data-ng-required='true' data-ng-pattern='ctrl.password_pattern'/>
								<div class="has-error">
									<span data-ng-show="myForm.confirm_password.$dirty" data-ng-class="{true:'green', false:'red'}[ctrl.isMatch]">	<!-- style is defined below -->
									Password {{ctrl.isMatch == true ? '' : 'do not'}} match</span>	
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<div class="col-md-12">
								<input type="submit"
									value="Submit"
									class="btn btn-primary btn-sm"
									data-ng-disabled="myForm.$invalid || myForm.$pristine || !ctrl.isMatch">
								<img data-ng-if="ctrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />						
							</div>
						</div>
					</div>
					
				</form>
			</div>
	</div>
	
	<!-- style={position:'fixed' & top:'75px'}
     Even if you scroll the page all the way down or shrink the page height, message will display at the same position.
     To position the stacking order of elements place this code below form elements
	-->
	<div data-ng-show="ctrl.alertMsg">
		<div class='container alertMsg'>{{ctrl.alertMsg}}</div>
	</div>
	
</div>
<style> 
    .red { 
        color:red 
    } 
    .green { 
        color:green 
    } 
</style> 