<div class="container_passwordreset">	
	<div class="center_passwordreset">
		<div class="panel-heading" style="background-color: #4682B4">
			<span class="lead">Password Reset</span>
		</div>
		
		<div class="container-fluid">
			<form name="resetPasswordLinkForm" data-ng-submit="ctrl.sendPasswordResetLinkFunc()" >

				<div class="row" style='margin-top: 10px; color: SteelBlue'>
					<div class="form-group col-md-12">
						<div class="col-md-12">Provide an email where we can send the password reset link</div>
					</div>
				</div>
				
				<div class="row" style='margin-top: 10px; color: red'>
					<div class="form-group col-md-12">
						<div data-ng-show="ctrl.alertMsg">{{ctrl.alertMsg}}</div>
					</div>
				</div>
							
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-4" for="email">email:</label>
						<div class="col-md-8">
							<input type="email" data-ng-model="ctrl.email"
								name="email" class="form-control" data-ng-pattern='/^[A-Za-z0-9._%+-]+@gmail.com$/'
								placeholder="Enter email" data-ng-required="true"/>
							<div class="has-error col-md-8">
								<span data-ng-show="resetPasswordLinkForm.email.$touched && resetPasswordLinkForm.email.$error.required">This is a required field</span>
								<span data-ng-show="resetPasswordLinkForm.email.$touched && resetPasswordLinkForm.email.$error.email">Not a valid email</span>
								<span data-ng-show="resetPasswordLinkForm.email.$touched && !resetPasswordLinkForm.email.$error.email && resetPasswordLinkForm.email.$error.pattern">Not a valid domain</span> 
							</div>
						</div>
					</div>
				</div>		
				
				<div class="row">
					<div class="form-group col-md-12">
						<div class="col-md-12">
							<input type="submit"
								value="Send"
								class="btn btn-primary btn-sm"
								data-ng-disabled="resetPasswordLinkForm.$invalid || resetPasswordLinkForm.$pristine">
							<img data-ng-if="ctrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />						
						</div>
					</div>
				</div>	
				
			</form>
		</div>
	</div>
	
</div>