<div class="text-center">
	<div class="foot">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4">
					<div class="footerTitle">
						<div>Location:</div>
						<div>5555 Amsterdam Rd, San Jose CA 76821</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="footerTitle">
						<span>copyright <sub
							class="glyphicon glyphicon-copyright-mark"></sub> 2018
						</span>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="footerTitle">
						<div class="glyphicon glyphicon-envelope"></div>
						discover@gmail.com
					</div>
					<div class="footerTitle">
						<div class="glyphicon glyphicon-phone-alt"></div>
						410-955-1000 &emsp;
						<span class="glyphicon glyphicon-print"></span>
						410-955-1111					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>